/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.list-item{
  cursor: pointer;
  vertical-align: middle;
}
.list-toggler.card{
  border:0;
}
body{
  background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
  height: 100%;
}
.main_container{
  font-family: 'Quicksand', sans-serif;
}
.list-wrapper .col{
  text-align: center;
}
html{
  height: 100%;
}
.card-header{
  background-color: rgba(255, 255, 255, 0.4) !important;
}
.editor-lable{
  display: block;
}
.mainCardHeader{
  margin-top: 20px;
}
