// Body gradient
$body-gradient: linear-gradient(to right, #d7d2cc 0%, #304352 100%);

// Content-font
$content-font: 'Quicksand', sans-serif;

// page header
$header-color: rgba(255, 255, 255, 0.4);
